.contactSection {
  max-width: 90rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: start; */
  /* justify-items: start; */
  /* overflow: visible; */
}

.headline {
  font-size: 3.2rem;
}

.clientForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.formHeadline {
  font-size: 2rem;
}

.labelWithField {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  font-size: 1.8rem;
  /* display: block; */
}

.field {
  padding: 1rem;
  /* width: 100%; */
}

.lastName {
  padding: 1rem;
  margin-left: 2rem;
}

.submit {
  background-color: #f43f5e;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1000;
  transition: all 0.3s;
}

.inqueryResponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.inquerBody {
  resize: none;
  /* margin-right: 5px; */
}
