.landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 200px;
  justify-items: flex-start;
  /* align-items: flex-start; */
}

.landingBody,
.landingText {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.landingBody {
  justify-content: center;
  gap: 150px;
}

.landingText {
  justify-content: flex-start;
  justify-self: flex-start;
  /* align-items: flex-start; */
  flex-direction: column;
  gap: 5px;
}

.headline {
  font-size: 86px;
  font-weight: 900;
}

/* .girl {
  /* border: 3px solid black; */

.btn {
  background-color: #e11d48;
  padding: 15px 40px;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-top: 64px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s;
}

.btn:hover {
  color: black;
  background-color: #f2f2f2;
  /* border: 1px solid black; */
}

.footer {
  display: flex;
  list-style-type: none;
  gap: 16px;
  font-size: 16px;
}

.category {
  text-decoration: none;
  color: black;
}
