.landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
}

.landingBody,
.landingText {
  display: flex;
  align-items: center;
}

.landingBody {
  justify-content: center;
  gap: 256px;
}

.landingText {
  flex-direction: column;
  gap: 10px;
}

.headline {
  font-size: 86px;
  font-weight: 900;
}

.btn {
  background-color: black;
  padding: 15px 40px;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-top: 64px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}

.btn:hover {
  color: black;
  background-color: #f2f2f2;
  border: 1px solid black;
}

.footer {
  display: flex;
  list-style-type: none;
  gap: 16px;
  text-decoration: none;
  font-size: 16px;
}
