.carouselSection {
  position: relative;
  max-width: 120rem;
  margin: 5rem auto;
  padding: 0 2rem;
}

.carousel {
  background-color: var(--color-brand-500);
  padding: 3.2rem;
  padding-left: 8.6rem;
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 0.1); */
  display: flex;
  gap: 2.8rem;
  align-items: center;
  border-radius: 0.9rem;
}

.girl {
  transform: scale(1.5);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
}

.carouselInnerBox {
  /* background-color: #737373; */
  color: #fff;
  padding: 3rem 6rem;
  font-size: 2rem;
  /* font-weight: bold; */
  line-height: 1.5;
}

.previous,
.next {
  font-size: 1.8rem;
  background-color: #fff;
  color: #737373;
  border: none;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 50%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next {
  right: 0;
  transform: translate(50%, -50%);
}
.previous {
  left: 0;
  transform: translate(-50%, -50%);
}

.dots {
  display: flex;
  gap: 12px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 3.6rem);
}

.dot {
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid var(--color-brand-800);
  border-radius: 50%;
}

.back {
  background-color: var(--color-brand-500);
}

/* RESPONVIENESs */

@media (max-width: 84.375em) {
  .carouselSection {
    max-width: 110rem;
  }
}

@media (max-width: 75em) {
  .carouselSection {
    max-width: 110rem;
  }
}

@media (max-width: 69.375em) {
  .carouselSection {
    max-width: 100rem;
  }
  .girl {
    height: 25rem;
    width: 16.675rem;
  }
}
@media (max-width: 55em) {
  .carouselSection {
    max-width: 66rem;
  }
  .carousel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 8.6rem;
  }
  .girl {
    height: 40rem;
    width: 26.68rem;
  }
}

@media (max-width: 43.75em) {
  .carouselSection {
    max-width: 60rem;
  }

  .girl {
    height: 30rem;
    width: 20rem;
  }
}
