.CTASection {
  max-width: 120rem;
  margin: 6rem auto;
  background-color: var(--color-brand-500);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 1.6rem;
  border-radius: 0.9rem;
}

.headline {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.subheadline {
  font-size: 2rem;
  color: #fff;
}

.shoppingBtn {
  --b: 0.4rem;
  --c: 2rem;
  --g: calc(var(--c) * 0.707);

  font-size: 2rem;
  color: #fff;

  padding: 1.2rem;
  transition: 0.5s;
  border: solid var(--color-brand-800);
  border-width: var(--b) var(--b) calc(var(--c) + var(--b))
    calc(var(--c) + var(--b));
  background: linear-gradient(
        -45deg,
        transparent var(--g),
        var(--color-brand-500) 0
      )
      left / var(--c) 100%,
    linear-gradient(135deg, transparent var(--g), var(--color-brand-900) 0)
      bottom / 100% var(--c),
    conic-gradient(
      from -90deg at top var(--b) right var(--b),
      currentColor 270deg,
      transparent 0
    ),
    conic-gradient(
      from 90deg at bottom calc(var(--c) + var(--b)) left
        calc(var(--c) + var(--b)),
      currentColor 270deg,
      transparent 0
    );
  background-repeat: no-repeat;
  background-origin: border-box;
  transform: translate(calc(var(--c) / -1), calc(var(--c) / 1));
  clip-path: polygon(
    var(--c) 0%,
    var(--c) 0%,
    100% 0%,
    100% calc(100% - var(--c)),
    100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c))
  );
}
.shoppingBtn:hover {
  transform: translate(0, 0);
  clip-path: polygon(
    0% var(--c),
    var(--c) 0%,
    100% 0%,
    100% calc(100% - var(--c)),
    calc(100% - var(--c)) 100%,
    0% 100%,
    0% 100%
  );
}

/* RESPONVIENESs */

@media (max-width: 84.375em) {
  .CTASection {
    max-width: 110rem;
  }
}
