.footerSection {
  margin: 2rem 0 0 0;
  background-color: var(--color-brand-800);
  color: white;
}

.footerLinks {
  max-width: 120rem;
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  padding: 3rem 2rem 10rem;
}

.headline {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.linksRow {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.linkSection {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
}

.socialLinks {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.iconItem {
  list-style: none;
}

.iconLink {
  display: inline-flex;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.iconLink:hover {
  color: #fff;
}

.iconLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.iconLink:hover::before {
  transform: scale(1);
}

.iconItem:nth-child(1) .iconLink:hover:before {
  background: var(--social-icon1);
}

.iconItem:nth-child(2) .iconLink:hover:before {
  background: var(--social-icon2);
}

.iconItem:nth-child(3) .iconLink:hover:before {
  background: var(--social-icon3);
}

.iconItem:nth-child(4) .iconLink:hover:before {
  background: var(--social-icon4);
}

.iconItem:nth-child(5) .iconLink:hover:before {
  background: var(--social-icon5);
}

/* RESPONVIENESs */

@media (max-width: 84.375em) {
  .footerLinks {
    max-width: 110rem;
  }
}

@media (max-width: 75em) {
  .footerLinks {
    max-width: 110rem;
  }
}

@media (max-width: 69.375em) {
  .footerLinks {
    max-width: 100rem;
  }
}
@media (max-width: 55em) {
  .footerLinks {
    max-width: 80rem;
  }
  .socialLinks {
    flex-direction: column;
  }
}

@media (max-width: 43.75em) {
  .headline {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .headline {
    font-size: 1.8rem;
  }
}
