.footerPage {
  margin: 2rem 0 0 0;
  background-color: #475569;
  color: white;
}

.footerLinks {
  max-width: 120rem;
  display: flex;
  gap: 8rem;
  margin: 0 auto;
  padding: 3rem 0 20rem 0;
}

.headline {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.socialLinks {
  display: flex;
  gap: 3rem;
}

.contactInfo {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}
