.header {
  display: flex;
  align-items: center;
  gap: 48px;
  position: relative;
  margin: 20px 200px;
}
.logo {
  font-weight: bold;
  font-size: 24px;
}

.links {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
  color: black;
  padding: 12px;
}

.link:hover {
  /* background-color: #94a3b8; */
}

.icons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 20px;
  align-items: center;
  /* padding: 10px; */
}

.cart {
  display: flex;
  position: relative;
  flex-direction: column;
  /* padding: 10px; */
  align-items: center;
}

.productsInCart {
  font-size: 12px;
  background-color: #f43f5e;
  padding: 1px;
  color: white;
  border-radius: 50%;
  z-index: 2;
  text-align: center;
  text-justify: distribute;
  position: absolute;
  height: 20px;
  width: 20px;
}
