.secondLanding {
  /* margin: 40px 20px; */
  margin: 60px 180px;
}

.carousel {
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 0.1); */
  display: flex;
  /* gap: 10px; */
  align-items: center;
}

.carouselInnerBox {
  /* background-color: #737373; */
  /* color: white; */
  padding: 30px 60px;
  font-size: 20px;
}

.previous,
.next {
  font-size: 18px;
  margin: 20px;
  /* padding: 8px; */
  background-color: #737373;
  color: white;
  border: none;
  /* border-radius: 50%; */
  height: 50px;
  width: 70px;
}
