.stepsSection {
  max-width: 120rem;
  margin: 16rem auto 8rem;
}

.label {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-brand-700);
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.stepOrder {
  font-size: 9.8rem;
  font-weight: 700;
  color: #cbd5e1;
}

.stepAction {
  font-size: 3.2rem;
}

.stepOrder::selection,
.stepAction::selection,
.stepDescription::selection {
  color: #fff;
  background-color: var(--color-brand-500);
}

/* RESPONVIENESs */

@media (max-width: 84.375em) {
  .stepsSection {
    max-width: 110rem;
  }
}
