.productPage {
  display: flex;
  justify-content: center;
}

/* .activeCategory {
  background-color: red;
} */

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  color: black;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.productDescription {
  line-height: 1.4;
}

.purchaseDetails {
  display: flex;
  align-items: center;
  gap: 10rem;
  /* justify-content: space-between; */
}

.amountInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  background-color: var(--color-brand-500);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0.9rem;
  color: #fff;
  display: inline-block;
}

.tentacles {
  padding: 0.6rem;
  width: 8rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.addBtn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s;
  border-radius: 0.9rem;
  margin-left: auto;
}

.amount {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.amountNum {
  font-size: 2.4rem;
}
.amountBtn {
  font-size: 2.4rem;
  /* padding: 4px; */
  border-radius: 50%;
  border: none;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.addBtn {
  background-color: var(--color-brand-800);
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.categoryDetails,
.descriptionDetails,
.rateDetails {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cbd5e1;
}

.categoryDetails {
  gap: 5.7rem;
}

.rateDetails {
  gap: 9rem;
  border: none;
}
