.productPage {
  display: flex;
  justify-content: center;
}

/* .activeCategory {
  background-color: red;
} */

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}

.productTitle {
  font-size: 20px;
  font-weight: bold;
}

.productDescription {
  line-height: 1.4;
}

.buttons {
  display: flex;
  gap: 10px;
}

.addBtn,
.buyBtn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s;
}

.amount {
  display: flex;
  gap: 10px;
  align-items: center;
}

.amountNum {
  font-size: 24px;
}
.amountBtn {
  font-size: 24px;
  /* padding: 4px; */
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  text-align: center;
}

.addBtn {
  background-color: #94a3b8;
}

.buyBtn {
  background-color: #e11d48;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.categoryDetails,
.descriptionDetails,
.rateDetails {
  margin-top: 10px;
  display: flex;
  gap: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbd5e1;
}

.categoryDetails {
  gap: 57px;
}

.rateDetails {
  gap: 90px;
  border: none;
}
